#first {color:red}
#second {color:blue}
#third {color:green}
#fourth {font-size:57px}
#fifth {font-size:5px}
#sixth {text-align:center}
#seventh {font-weight: bold;}
#eigth {font-style: italic;}
#ninth {font-size: xx-large;}
#ninth {color:orange}
#ninth {font-weight:bold}


